{% extends 'layouts/base.html' %}
{% block title %}FAQ{% endblock %} 
{% block heading %}<h2>Frequently Asked Questions</h2>{% endblock %}

{% block body %}
<h3 class="question text-warning">Is this a Scam?</h3>
<p class="answer text-success">
  No, just a portfolio project to learn Flask on a professional level
</p>

<h3 class="question">Can I win real money?</h3>
<p class="answer">No, you can't</p>

<h3 class="question">Can I lose real money?</h3>
<p class="answer">
  Yes you can actually. Because you pay to play, and play to lose
  money....therfore pay to lose money
</p>

<h3 class="question">Do I need this many questions?</h3>
<p class="answer">Not Really, There aren't any questions asked frequently</p>
{% endblock %}
